<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>POC Leave Request</ion-title>
      <button (click)="goToViewPage()">View Requests</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="main">
    <div id="form">
      <label for="firstName">First Name : </label>
      <div class="single-input">
        <div class="icon-input">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <input
          [(ngModel)]="leave.first_name"
          type="text"
          placeholder="Enter your first name"
          id="Fname"
        />
      </div>

      <label for="lastName">Last Name : </label>
      <div class="single-input">
        <div class="icon-input">
          <ion-icon name="person-add-outline"></ion-icon>
        </div>
        <input
          [(ngModel)]="leave.last_name"
          required
          type="text"
          placeholder="Enter your last name"
          id="Lname"
        />
      </div>

      <label for="lastName">Type of leave : </label>
      <div class="single-input">
        <div class="icon-input">
          <ion-icon name="umbrella-outline"></ion-icon>
        </div>
        <select [(ngModel)]="leave.type" name="" id="type">
          <option value="select" selected>Select Option</option>
          <option value="Maternity">Maternity</option>
          <option value="Paternity">Paternity</option>
          <option value="Personal">Personal</option>
          <option value="Educational">Educational</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="two-col-input">
        <label for="startDate">Start Date : </label>
        <div class="single-input">
          <div class="icon-input">
            <ion-icon name="time-outline"></ion-icon>
          </div>
          <input
            [(ngModel)]="leave.start"
            type="date"
            required
            id="startDate"
          />
        </div>

        <label for="endDate">End Date : </label>
        <div class="single-input">
          <div class="icon-input">
            <ion-icon name="timer-outline"></ion-icon>
          </div>
          <input [(ngModel)]="leave.end" type="date" required id="endDate" />
        </div>
      </div>

      <label for="reason">Reason : </label>
      <div class="single-input" id="reason">
        <div class="icon-input">
          <ion-icon name="information-circle-outline"></ion-icon>
        </div>
        <textarea
          [(ngModel)]="leave.reason"
          required
          rows="10"
          placeholder="Reason(s) for requesting leave"
          id="reason"
        ></textarea>
      </div>

      <label for="daysLeft">Leave Days Left : </label>
      <div class="single-input">
        <div class="icon-input">
          <ion-icon name="calculator-outline"></ion-icon>
        </div>
        <input
          style="color: red"
          [(ngModel)]="leave.days_left"
          required
          type="text"
          placeholder="{{leave_count}}"
          value="{{leave_count}}"
          id="daysLeft"
        />
      </div>

      <button (click)="saveTutorial()" type="">Submit</button>
    </div>
  </section>
</ion-content>
