<ion-header>
  <ion-toolbar>
    <div id="view_header">
      <ion-title>view_leaves</ion-title>
      <div>
        <ion-icon name="people-outline"></ion-icon>
        <p>back</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="single-request">
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>By :</p>
        &nbsp;
        <p>Image</p>
        &nbsp;
        <p>Shandlani</p>
      </div>
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>From :</p>
        &nbsp;
        <p>March</p>
      </div>
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>To :</p>
        &nbsp;
        <p>June</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>Type :</p>
        &nbsp;
        <p>Educational</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p style="word-wrap: normal">Reason :</p>
        &nbsp;
        <p>Lorem ipsum dolor sit amet consectetur ouuhk hj</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>Days Left :</p>
        &nbsp;
        <p>2</p>
      </div>
      <div class="single-item"></div>
    </div>
  </section>
</ion-content>
