<ion-header>
  <ion-toolbar>
    <div id="view_header">
      <ion-title>view_leaves</ion-title>
      <div (click)="goBack()" style="cursor: pointer">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <p>back</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="single-request" *ngFor="let p of leaves">
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>By :</p>
        &nbsp;
        <p>{{p.first_name}}</p>
        &nbsp;
        <p>{{p.last_name}}</p>
      </div>
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>From :</p>
        &nbsp;
        <p>{{p.start}}</p>
      </div>
      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>To :</p>
        &nbsp;
        <p>{{p.end}}</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>Type :</p>
        &nbsp;
        <p>{{p.type}}</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p style="word-wrap: normal">Reason :</p>
        &nbsp;
        <p>{{p.reason}}</p>
      </div>

      <div class="single-item">
        <ion-icon name="map-outline"></ion-icon>
        <p>Days Left :</p>
        &nbsp;
        <p>{{p.days_left}}</p>
      </div>
      <div class="single-item"></div>
    </div>
  </section>
</ion-content>
